.footer-ul {
    display: flex;
    height: 30px;
    flex-wrap: wrap; 
    color: #242825cc;
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  
    ul {
      margin: 50px 50px; 

      li{
        margin-top: 15px;
      }
    }
  
    a {
      text-decoration: none;
      color: #242825cc;
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    }
  
    img {
      margin: 50px 50px;
      width: 200px;
      height: 60px;
    }
  }
  

  @media (max-width: 768px) {
    .footer-ul {
        display: block;
      flex-direction: column;
      align-items: center; 
      height: auto; 
  
      ul {
        margin: 20px 0;
      }
  
      img {
        height: 50px; 
        width: 150px; 
        margin: 20px 0; 
      }
    }
  }
  

  @media (max-width: 467px) {


    .footer-div{
      overflow: hidden;
    }
    .footer-ul {
        display: block;
      align-items: center; 
      height: auto; 
  
      ul {
        display: block;
        margin: 10px 0; 
      }
  
      img {
        width: 120px; 
        height: 40px; 
        margin: 10px 0; 
      }
    }
  }
  