#main {
  padding: 60px 0;
  
  .main-div {
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap; // Allow wrapping on small screens
  }

  .text-content1 {
    flex: 1;
    max-width: 45 0px;

    h1 {
      font-size: 70px;
      line-height: 70px;
      min-height: 0;
      color: #00bfff;
      font-family: 'Unbounded', sans-serif;
      font-weight: 500;

    }

    p {
      max-width: 400px;
      font-family: sans-serif;
      font-size: 20px;
      font-weight: 500;
      color: #272121;
      margin-top: 70px;
      margin-bottom: 25px;
    }
  }

  .main-button {
    background-color: #007bff; // Primary blue color
    color: #fff;
    border: none;
    padding: 12px 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    font-weight: 500;
    font-family: Unbounded;

    &:hover {
      background-color: #0056b3; // Darker blue on hover
    }
  }

  .image-container {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  .main-img {
    max-width: auto;
    height: auto;
    border-radius: 10px;
  }

  // Responsive design
  @media (max-width: 768px) {
    .main-div {
      flex-direction: column; // Stack items vertically
      text-align: center; // Center align text content
      background-image: url("../images/manwithcarpet.png"); // Set the background image
      background-size: cover; // Cover the entire div
      background-position: center; // Center the image
      height: 400px; // Set a height for the background
      border-radius: 10px;
      padding: 15px;
    }

    .text-content1 {
        width: 100%;

      h1 {
        font-size: 40px;
        color: #ffffff;
      }

      p {
        text-align: left;
        word-break: break-all;
        width: 400px;
        color: #ffffff;
      }
    }

    .main-button {
    margin-top: 15px;
    margin-right: 475px;
    min-width: 180px;
    
     // Adjust margin for button
    }

    .main-img {
      display: none; // Hide the main image
    }

    .main-mini_img {
      display: none;
    }
  }

  // Extra small mobile screens (max-width: 467px)
  @media (max-width: 467px) {
    .main-div {
      height: 300px;
        }

    .text-content1 {
      
      width: 100%;
      word-break: break-all;



      h1 {
        font-size: 30px;
        margin-top: 5px;
        line-height: 35px;
     
        width: 100%;
        text-align: left;
        word-break: keep-all;
        color: #ffffff;
        height: auto;
      }

      p {
        word-break: keep-all;
        font-size: 18px;
        margin-top: 7px;
        width: 100%;
        height: 100px;
        
      }

      button {
        margin-right: 135px;
     min-width: 180px;
      }
    }

    .main-mini_img {
      display: none;
    }
  }
}
